

.sm-search-wrapper {
    color: darkslateblue;
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(219, 219, 219, 0.8) !important;
    display: none;
    justify-content: center;
    padding: 0 20px;
}
.sm-search-wrapper .users-block {
    width: inherit;
    background-color: transparent;
    border: 0px;
    padding: 0 20px;
    position: static;
}

.wrapper--hide {
    display: none !important;
}


.sm-search {
    margin-top: 100px;

    height: fit-content;
    /*max-height: 100%;*/
    /*display: flex;*/
    /*justify-content: center;*/

}
.sm-search-wrapper .profile-card {
    width: 100%;
}
.sm-search-inner {
    width: 380px;
    margin: 0 auto;
}

.sm-search-wrapper .user-search-card {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

@media screen and (max-width: 720px) {

    .sm-search-wrapper {
        display: flex;
    }
}

@media screen and (max-width: 400px) {

    .sm-search-wrapper {
        padding: 0;
    }
    .sm-search-wrapper .profile-card {
        width: 100%;
        min-width: 220px;
    }
    .sm-search-inner {
        width: 100%;
    }
}