



.sm-search-wrapper {
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(219, 219, 219, 0.5);
    display: none;
    justify-content: center;
    padding: 0 20px;
}
.users-block {
    width: inherit;
    background-color: transparent;
    border: 0px;
}

.wrapper--hide {
    display: none !important;
}


.sm-search {
    margin-top: 100px;
    width: 500px;
}

@media screen and (max-width: 720px) {

    .sm-search-wrapper {
        display: flex;
    }
}